USE [master]
GO
/****** Object:  Database [RemoteLibrary]    Script Date: 4/25/2017 12:03:27 PM ******/
CREATE DATABASE [RemoteLibrary]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RemoteLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RemoteLibrary]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 4/25/2017 12:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlbumTitle] [varchar](50) NULL,
	[Year] [date] NULL,
	[Artist] [varchar](50) NULL,
	[Tracks] [int] NULL,
	[Cover] [image] NULL,
	[CoverPatch] [varchar](100) NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PlayLists]    Script Date: 4/25/2017 12:03:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PlayLists](
	[Id] [int] NOT NULL,
	[SongId] [int] NOT NULL,
	[PlayListName] [varchar](50) NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [pk_playlists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 4/25/2017 12:03:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Songs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[ArtistName] [varchar](50) NOT NULL,
	[AlbumId] [int] NULL,
	[SequenceId] [int] NULL,
	[PathToFile] [varchar](100) NOT NULL,
	[Year] [date] NOT NULL,
	[Genre] [varchar](50) NULL,
	[Rating] [int] NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PlayLists]  WITH CHECK ADD  CONSTRAINT [PlayLists_Songs_FK1] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
GO
ALTER TABLE [dbo].[PlayLists] CHECK CONSTRAINT [PlayLists_Songs_FK1]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [Songs_Albums_FK] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([Id])
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [Songs_Albums_FK]
GO
USE [master]
GO
